<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 비밀번호 찾기</title>
  <link rel="stylesheet" th:href="@{/css/admin/admEmailCert.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admHeader.css}">
  <link rel="stylesheet" th:href="@{css/main/footer.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer th:src="@{/js/admin/admEmailCert.js}"></script>
</head>

<body>
  <div id="header"></div>
  <main>
    <div class="container">
      <div>
        <a class="back-a" th:href="@{/admin/admLogin}">
          <img class="back" th:src="@{/img/admin/backArrow.png}">
        </a>
      </div>
      <img class="pickOD-logo" th:src="@{/img/main/logo.png}">
      <h2>관리자 이메일 인증</h2>
      <div id="input-container">
          <div class="input-email">
            <div class="input-section">
              <input type="text" class="email" placeholder="이메일을 입력하세요." required>
              <button type="button" class="send-email">이메일 인증</button>
            </div>
          </div>

          <div class="verify-code">
            <form action="/admin/codeVerify" method="post">
              <input type="text" name="code" class="verification-code" placeholder="인증번호를 입력하세요." required>
              <span id="left-time"></span>
              <button type="submit" id="verify">인증하기</button>
            </form>
          </div>
        <br>
        <div id="invalid-code"></div>
      </div>
    </div>
  </main>
  <div id="footer"></div>
</body>

</html>