<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <div class="nav-wrap">
      <img th:src="@{/img/main/logo2.png}" alt="로고" class="header-logo">
      <nav>
        <ul class="nav-menu">
          <li><a th:href="@{/admin/admMemberMgmt/list}" class="link-menu">회원 관리</a></li>
          <li><a th:href="@{/admin/admReport}" class="link-menu">신고 관리</a></li>
          <li><a th:href="@{/admin/admJnlMgmt/list}" class="link-menu">여행 발자국 관리</a></li>
          <li><a th:href="@{/admin/admPlaceMgmt/list}" class="link-menu">장소 관리</a></li>
          <li class="nav-list">
            <div class="link-menu">템플릿</div>
            <div class="dropdown-container">
              <a th:href="@{/admin/admTemplateMgmt/list}" class="dropdwn">템플릿 관리</a>
              <a th:href="@{/admin/admTemplateMgmt/write}" class="dropdwn">템플릿 작성</a>
            </div>
          </li>
<!--          <li class="nav-list">-->
<!--            <div class="link-menu">행사</div>-->
<!--            <div class="dropdown-container">-->
<!--              <a th:href="@{/admin/admFestival/list}" class="dropdwn">전체 행사</a>-->
<!--              <a href="./admFestivalBanner.html" class="dropdwn">행사 배너</a>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
      </nav>
      <div class="header-icon">
        <a th:href="@{/admin/admLogout}">
          <img id="adm-logout" th:src="@{/img/main/login.png}" alt="로그아웃" class="login">
        </a>
      </div>
    </div>
  </header>
</body>

</html>