<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Journal Management</title>
  <link rel="stylesheet" th:href="@{/css/admin/admJournal.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admHeader.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer th:src="@{/js/admin/admJournal.js}"></script>
</head>

<body>
  <div id="header" th:replace="~{/admin/admHeader}"></div>
  <main>
    <div class="posts">
      <h1 class="journal-mgmt">여행 발자국 관리</h1>
      <div class="container">
        <form action="/admin/admJnlMgmt/search" method="get">
          <div class="search">
            <select name="searchOption" id="condition">
              <option value="" disabled selected>조건을 선택하세요</option>
              <option class="search-option" value="nick">닉네임</option>
              <option class="search-option" value="title">제목</option>
              <option class="search-option" value="report">신고 여부</option>
            </select>
            <input type="text" name="keyword" placeholder="검색어를 입력하세요." />
            <button type="submit" class="search-button">검색</button>
          </div>
        </form>

        <table class="journal-list">
          <thead>
          <tr class="table-head">
            <th class="jnl-num">번호</th>
            <th class="mem-id">아이디</th>
            <th class="nickname">닉네임</th>
            <th class="jnl-title">여행 발자국</th>
            <th class="jnl-pick">찜하기 수</th>
            <th class="is-reported">신고 여부</th>
            <th class="to-comments">댓글</th>
            <th class="to-journal">바로가기</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="jnl: ${jnls}">
            <td class="jnl-num" th:text="${jnl.jnlNum}"></td>
            <td class="mem-id" th:text="${jnl.memberId}"></td>
            <td class="nickname" th:text="${jnl.memberNickName}"></td>
            <td class="jnl-title" th:text="${jnl.jnlTitle}"></td>
            <td class="jnl-pick" th:text="${jnl.pickCnt}"></td>
            <td class="is-reported" th:text="${jnl.isReported}"></td>
            <td><button class="to-comments" type="button"
                          th:data-jnl-num="${jnl.jnlNum}">댓글보기</button></td>
            <td><button class="to-journal" type="button"
                        th:data-jnl-num="${jnl.jnlNum}">바로가기</button></td>
          </tr>
          <tr>
            <td colspan="7" class="last-row"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <div id='footer' th:replace="~{/main/footer}"></div>
</body>

</html>