<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" th:href="@{/css/admin/admLogin.css}">
<!--  <link rel="stylesheet" th:href="@{/css/admin/admHeader.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/main/footer.css}">-->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer th:src="@{/js/admin/admLogin.js}"></script>
</head>

<body>
<!--  <div id="header" th:replace="~{/admin/admHeader}"></div>-->
  <main>
    <div class="container">
      <img class="pickOD-logo" th:src="@{/img/main/logo.png}">
      <h2>관리자 로그인</h2>
      <form action="/admin/doAdmLogin" method="post">
        <input type="text" name ="memberId" class="id" placeholder="아이디" required>
        <input type="password" name ="memberPassword" class="pw" placeholder="비밀번호" required>
        <div id="invalid-login"></div>
        <button id="login-button" type="submit">로그인</button>
      </form>
<!--      <a th:href="@{/admin/findPwd}" id="forgot-password" class="login-service">비밀번호 찾기</a>-->
    </div>
  </main>
<!--  <div id="footer" th:replace="~{/main/footer}"></div>-->
</body>

</html>