<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장소 상세페이지</title>
  <link rel="stylesheet" th:href="@{/css/admin/admPlaceDetails.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admHeader.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer th:src="@{/js/admin/admPlaceDetails.js}"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d0b4e524396053a6c4fa80ea62ba250"></script>
</head>

<body>
  <div id="header" th:replace="~{/admin/admHeader}"></div>
  <main>
    <div class="img-container">
      <button id="prev-btn"><img th:src="@{/img/place/placeDetail/prevBtn.png}" alt="이전 버튼"></button>
      <img class="main-img" id='slider' th:src="@{/img/place/placeDetail/samplePlace.jpg}" alt="대표이미지">
      <button id="next-btn"><img th:src="@{/img/place/placeDetail/nextBtn.png}" alt="다음버튼"></button>
    </div>
    <h2 class="place-name" th:text="${placeDetail.placeName}"></h2>
    <span th:text="${placeDetail.placeAddress}"></span>

    <div class="icon-container">
      <div>
        <!-- 신고 여부 Y면 빨간색 신고 아이콘, N면 검정 신고 아이콘 -->
        <input type="hidden" id="is-reported" th:data-isreported="${placeDetail.isReported}"/>
        <img id="report-icon" th:src="@{/img/message/report.png}" alt="신고아이콘"
             th:data-img1="@{/img/admin/reported.png}"
             th:data-img2="@{/img/message/report.png}"
            th:data-place-id="${placeDetail.placeId}">
      </div>
    </div>

    <!-- 네브바 -->
    <div class="placeDetail-nav" id="placeDetailNav">
      <ul>
        <li><a class="anchor" href="#detailSection">상세정보</a></li>
        <li><a class="anchor" href="#relatedPlacesSection">관련장소</a></li>
        <li><a id="to-comments" href="">발자국 톡</a></li>
      </ul>
    </div>

    <!-- 상세정보 -->
    <section id="detailSection">
      <div class="nav-title">상세정보</div>
      <hr>
      <article>
        <div class="section1-info" th:text="${placeDetail.placeDetails}"></div>
        <div class="section1-guide">
          <h3>이용안내</h3>
          <div class="section1-guide-box">
            <div class="section1-guide-txt">
              <span th:text="'운영시간 : '+${placeDetail.placeOpHour}"> </span>
              <span th:text="'홈페이지 : '+${placeDetail.placeUrl}"></span>
              <span th:text="'이용요금 : ' + ${placeDetail.placeCost}"></span>
            </div>
            <div class="section1-guide-txt">
              <span th:text="'문의 : '+${placeDetail.placePhoneNum}"></span>
              <span>휴일 : </span>
              <span>주차장 : </span>
            </div>

          </div>
        </div>
          <div class="section1-location">
            <div class="section1-location-title">
              <img th:src="@{/img/place/placeDetail/locationIcon.png}" alt="">
              <h3>위치</h3>
            </div>
            <div id="map"></div>
          </div>
        </div>
      </article>
    </section>

    <!-- 관련장소 -->
    <section id="relatedPlacesSection">
      <div class="nav-title">관련장소</div>
      <hr>
      <article>
        <ul class="relatedPlace">
          <li th:text="${placeDetail.placeRelated1}"></li>
          <li th:text="${placeDetail.placeRelated2}"></li>
          <li th:text="${placeDetail.placeRelated2}"></li>
        </ul>
      </article>
    </section>
    <div class="adm-buttons">
      <button id="delete-btn" type="button"
          th:data-place-name="${placeDetail.placeName}"
              th:data-place-id="${placeDetail.placeId}">삭제</button>
    </div>
  </main>

  <div id='footer' th:replace="~{/main/footer}"></div>

  <!--지도-->
  <script th:inline="javascript">
    var placeLat = /*[[${placeDetail.placeLat}]]*/ 0;
    var placeLong = /*[[${placeDetail.placeLong}]]*/ 0;


    var container = document.getElementById('map');
    var options = {
      center: new kakao.maps.LatLng(placeLat, placeLong),
      level: 3  // 확대 레벨
    };

    var map = new kakao.maps.Map(container, options);

    // 마커 생성
    var markerPosition = new kakao.maps.LatLng(placeLat, placeLong);  // 마커 위치 설정
    var marker = new kakao.maps.Marker({
      position: markerPosition  // 마커의 위치
    });

    // 마커 지도에 추가
    marker.setMap(map);

  </script>

</body>

</html>