<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report management</title>
  <link rel="stylesheet" th:href="@{/css/admin/admReport.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admHeader.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer th:src="@{/js/admin/admReport.js}"></script>
</head>

<body>
<div th:replace="admin/admHeader :: header"></div>
  <main>
    <h1>신고 관리</h1>
    <div class="container" id = "reports">
      <div class="search">
        <select id="condition-keyword">
          <option value="" disabled selected>조건을 선택하세요</option>
          <option value="writer">글 작성자</option>
          <option value="reporter">신고자</option>
          <option value="detail">상세 내용</option>
          <option value="postId"  th:selected="${option == 'postId'}">게시글 ID</option>
        </select>
        <input type="text" placeholder="검색어를 입력하세요." th:value="${postId != null && !postId.isEmpty() ? postId : ''}"/>
        <select name="post" id="condition-post-type">
          <option value="N" disabled selected>글 분류</option>
          <option value="total">전체</option>
          <option value="J" th:selected="${postType == 'J'}">여행 발자국</option>
          <option value="T" th:selected="${postType == 'T'}">템플릿</option>
          <option value="P" th:selected="${postType == 'P'}">장소</option>
          <option value="C" th:selected="${postType == 'C'}">댓글</option>
          <option value="M" th:selected="${postType == 'M'}">쪽지</option>
        </select>
        <!-- <label for="solved">상태:</label> -->
        <label><input type="radio" name="solved" value="2" checked> 전체</label>
        <label><input type="radio" name="solved" value="1"> 처리</label>
        <label><input type="radio" name="solved" value="0"> 미처리</label>
        <button type="button" class="searchList">검색</button>
      </div>

      <table id = "report-list">
        <tr class="table-head">
          <th>글 종류</th>
          <th>글 ID</th>
          <th>신고 사유</th>
          <th>일시</th>
          <th>글 작성자</th>
          <th>신고자</th>
          <th>상세 내용</th>
          <th>신고 처리</th>
          <th>상세보기</th>
          <th hidden>reportId</th>
        </tr>
        <!-- 맨 아래칸, 그냥 회색 섹션으로 만들고 싶음. -->
        <tr>
          <td colspan="9" class="last-row"></td>
        </tr>
      </table>
    </div>

    <h1>사용자 제재하기</h1>
    <div class="container" id = "sanction">
      <div class="search">
        <select id="sanc-srch-condition">
          <option value="" disabled selected>조건을 선택하세요</option>
          <option value="email" >아이디(이메일)</option>
          <option value="nick" th:selected="${opNick == 'nick'}">닉네임</option>
        </select>
        <input type="text" id ="sanc-srch-input" placeholder="정확히 입력해주세요." th:value="${memNick != null && !memNick.isEmpty() ? memNick : ''}" />
        <!-- <label for="status">상태:</label> -->
        <button type="button" class="enter" id = "search-sanction">검색</button>
        <div id = sanction-count>제재횟수 : <span id="s-count"></span>회</div>
        <select id="sanction-reason">
          <option value="" disabled selected>제재 사유를 선택하세요</option>
          <option value="상습적인 욕설 또는 비방">상습적인 욕설 또는 비방</option>
          <option value="괴롭힘, 폭력">괴롭힘, 폭력</option>
          <option value="부적절한 글 작성">부적절한 글 작성</option>
          <option value="기타">기타(비고 작성)</option>
        </select>
        <input type="text" id="sanc-note" placeholder="비고 작성">
        <button type="button" class="enter" id = "update-sanction">적용</button>
      </div>
    </div>

  </main>
  <div th:replace="main/footer :: footer"></div>
</body>
<div class = modal-container>
  <div id="report-detail-modal">
    <section class="report-modal-top">
      <div id="modal-exit"><span id="exit-button">&times;</span></div>
      <div>신고 상세정보</div>
    </section>
    <section class="report-modal-mid">
      <table class="user-info">
        <tr>
          <th class="items">항목</th>
          <th class="info">정보</th>
        </tr>
        <tr>
          <td>신고 글 분류</td>
          <!-- 따오는거 -->
          <td class="post-type"></td>
        </tr>
        <tr>
          <td>글 작성자</td>
          <!-- 따오는거 -->
          <td class="post-writer-id"></td>
        </tr>
        <tr>
          <td>신고자</td>
          <td class="report-id"></td>
        </tr>
        <tr>
          <td>신고 분류</td>
          <td class="report-type"></td>
        </tr>
        <tr>
          <td>신고 일자</td>
          <td class="report-date"></td>
      </table>
      <textarea id="report-detail-text" placeholder="자세한 상황을 설명해주세요." disabled></textarea>
      <input type="text" id="modal-reportId" hidden>
    </section>
    <section id="report-modal-tail">
      <form th:action = "@{/admin/admReport/goPost}" method="get">
      <input type="text" id="modal-postType" name="postType" hidden>
      <input type="text" id="modal-postId" name="postId" hidden>
      <button type="button" id="show-write">작성글 바로가기</button>
      </form>
      <button type="button" id="solved">신고 처리하기</button>
    </section>
  </div>
  <div id="report-detail-msg">
    <section class="report-modal-top">
      <span>신고 쪽지 내용</span>
    </section>
    <section class="report-modal-mid">
      <textarea id="report-msg-text" placeholder="쪽지 내용 들어갈거임." disabled></textarea>
    </section>
  </div>
</div>
</html>