<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너와 나의 여행 일지 작성</title>
    <link rel="stylesheet" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" th:href="@{/css/journal/journalCreate.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js?v=1.0" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script th:src="@{/js/summernote/summernote-lite.js}"></script>
    <script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
    <link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
    <script th:src="@{/js/journal/journalCreate.js}"></script>
</head>
<div id="header" th:replace="~{/main/header}"></div>
<body>
    <main>
        <form th:action="@{/journal/write}" method="post" enctype="multipart/form-data">
            <div class="title-container">
                <input class="title" type="text" name="jnlTitle"
                       placeholder="제목을 입력하세요."
                       th:value="${journalWriteDTO != null ? journalWriteDTO.jnlTitle : ''}"
                       onfocus="this.placeholder=''" onblur="this.placeholder='제목을 입력하세요.'">
            </div>
            <div class="container-display">
                <div class="profile-container">
                    <div class="profile">
                        <div class="photo">
                            <img class="Profile_image" th:src="@{/img/mypage/기본사람사진.png}" alt="Profile Image">
                        </div>
                        <div class="user-name">
                            <span th:if="${journalProfile != null}" th:text="${journalProfile.nickname}"></span>
                            <span th:if="${journalProfile == null}">닉네임 없음</span>
                        </div>
                    </div>
                    <div class="explain-container" >
                        <input class="explain" type="text" name="jnlMemo"
                               placeholder="간략한 설명을 적어주세요."
                               th:value="${journalWriteDTO != null ? journalWriteDTO.jnlMemo : ''}"
                               onfocus="this.placeholder=''" onblur="this.placeholder='간략한 설명을 작성해주세요.'">
                    </div>
                </div>
                <div class="tag-container">
                    <div class="tag-container-schedule">
                        <img th:src="@{/img/journal/footprint_pink.png}" alt="발자국 아이콘">
                        <div class="schedule-container">
                            <div class="schedule">
                                일정
                                <select id="schedule-input" name="jnlPeriod" th:value="${journalWriteDTO != null ? journalWriteDTO.jnlPeriod : ''}">
                                    <option disabled hidden selected>일정 선택</option>
                                    <option class="select-option" value="당일 여행">당일 여행</option>
                                    <option class="select-option" value="1박 2일">1박 2일</option>
                                    <option class="select-option" value="2박 3일">2박 3일</option>
                                    <option class="select-option" value="3박 4일">3박 4일</option>
                                    <option class="select-option" value="4박 5일">4박 5일</option>
                                    <option class="select-option" value="5박 6일">5박 6일</option>
                                    <option class="select-option" value="일주일 이상">일주일 이상</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="tag-container-schedule">
                        <img th:src="@{/img/journal/footprint_pink.png}" alt="발자국 아이콘">
                        <div class="tag-select-container">
                            <div class="schedule-tag">
                                태그
                            </div>
                            <select class="tag-select" name="jnlTag" th:value="${journalWriteDTO != null ? journalWriteDTO.jnlTag : ''}">
                                <option disabled hidden selected>선택하세요.</option>
                                <option value="#혼자서">#혼자서</option>
                                <option value="#친구와 함께">#친구와 함께</option>
                                <option value="#연인과 함께">#연인과 함께</option>
                                <option value="#가족과 함께">#가족과 함께</option>
                                <option value="#노을">#노을</option>
                                <option value="#실외 활동">#실외 활동</option>
                                <option value="#실내 활동">#실내 활동</option>
                            </select>
    <!--                        -->
    <!--                        <select class="tag-select" size="">-->
    <!--                            <option disabled hidden selected>선택하세요.</option>-->
    <!--                            <option value="alone">#혼자서</option>-->
    <!--                            <option value="friends">#친구와 함께</option>-->
    <!--                            <option value="lovers">#연인과 함께</option>-->
    <!--                            <option value="family">#가족과 함께</option>-->
    <!--                            <option value="sunset">#노을</option>-->
    <!--                            <option value="outdoor">#실외 활동</option>-->
    <!--                            <option value="indoor">#실내 활동</option>-->
    <!--                        </select>-->
                        </div>
                    </div>
                    <div class="tag-container-schedule">
                        <img th:src="@{/img/journal/footprint_pink.png}" alt="발자국 아이콘">
                        <div class="thema-container">
                            <div class="schedule-thema">
                                테마
                            </div>
                            <select class="thema-select" name="jnlTheme" th:value="${journalWriteDTO != null ? journalWriteDTO.jnlTheme : ''}">
                                <option disabled hidden selected>선택하세요.</option>
                                <option value="#힐링">#힐링</option>
                                <option value="#흑백요리사">#흑백요리사</option>
                                <option value="#맛집 탐방">#맛집 탐방</option>
                                <option value="#호캉스">#호캉스</option>
                            </select>
                        </div>
                    </div>
                    <div class="area-container-schedule">
                        <img th:src="@{/img/journal/footprint_pink.png}" alt="발자국 아이콘">
                        <div class="area-container">
                            <div class="schedule-area">
                                지역
                            </div>
                            <input
                                    class="area"
                                    type="text"
                                    name="jnlArea"
                                    th:value="${journalWriteDTO != null ? journalWriteDTO.jnlArea : ''}"
                                    placeholder="ex) 강남구, 수원시"
                                    onfocus="this.placeholder=''"
                                    onblur="this.placeholder='ex) 강남구, 수원시'">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 작성 -->
            <div class="day-tabs">
                <!-- day-tab -> class="days"로 변경 -->
                <button class="days active" type="button" onclick="switchDay(1)">DAY 1</button>
                <button class="add-day" type="button" onclick="addDay()">&#43;</button>
<!--                <button class="btn btn-primary" type="button" onclick="saveAndClearOtherDays()">Save and Clear</button>-->
            </div>
            <div id="place-tabs">
                <!-- loaction tab -> place class="locations"로 변경 -->
                <button class="places active" type="button" onclick="switchLocation(1, 1)">장소1</button>
                <button class="places" type="button" onclick="switchLocation(1, 2)">장소2</button>
                <button class="places" type="button" onclick="switchLocation(1, 3)">장소3</button>
            </div>
            <div class="content-container">
                <div class="place-title">장소 이름 불러오기</div>
                <!-- 장소 추가 모달 불러오기 관련 코드는 js에서 추가 -->

                <div class="location-descr">
                    <!-- Summernote에서 사용할 textarea -->
                    <textarea id="summernote" name="placeInfo"></textarea>
                </div>

                <div class="location-imgs">
                    <div class="upload-container">
                        <input type="file" id="img-input1" accept="image/*" style="display: none;" />
                        <label for="img-input1" class="upload-label">
                            <img class="gallery" src="../../img/admin/gallery.png" alt="갤러리 아이콘" />
                            <div class="txt-addimg">클릭하여 사진 추가</div>
                        </label>
                    </div>

                    <div class="upload-container">
                        <input type="file" id="img-input2" accept="image/*" style="display: none;" />
                        <label for="img-input2" class="upload-label">
                            <img class="gallery" src="../../img/admin/gallery.png" alt="갤러리 아이콘" />
                            <div class="txt-addimg">클릭하여 사진 추가</div>
                        </label>
                    </div>

                    <div class="upload-container">
                        <input type="file" id="img-input3" accept="image/*" style="display: none;" />
                        <label for="img-input3" class="upload-label">
                            <img class="gallery" src="../../img/admin/gallery.png" alt="갤러리 아이콘" />
                            <div class="txt-addimg">클릭하여 사진 추가</div>
                        </label>
                    </div>
                </div>
                <input type="hidden" name="jnlDayListJson" id="jnlDayListJson" />
            </div>
            <div class="create-button-container">
                <button class="delete-button" type="button">삭제</button>
                <button class="upload-button" type="submit">등록</button>
            </div>
        </form>
    </main>
</body>
<div id="footer" th:replace="~{/main/footer}"></div>
</html>