<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <link rel="stylesheet" th:href="@{/css/festival/festival.css}">
  <script defer th:src="@{/js/festival/festival.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
</head>
<body>
  <div id='header' th:replace="~{/main/header}"></div>
  <main>
      <a th:href="@{/festival/list}"><h2 class="festival">행사 리스트</h2></a>
    <section class="search">
      <form action="/festival/list" method="get">
         <input type="text" name="keyword" placeholder="검색어를 입력하세요">
         <input type="hidden" name="page" th:value=1>
         <button type="submit"></button>
      </form>
    </section>

      
    <div class="festival-container">
      <ul class="festival-list">
<!--        festivalPage의 festivals 리스트에 festival-->
        <li th:each="festival : ${festivalPage.festivals}">
          <div class="festival-img">
            <a th:href="${festival.orgLink}" target="_blank"><img th:src="${festival.mainImg}" alt="Festival Image"></a>
          </div>
          <div class="festival-info">
            <a th:href="${festival.orgLink}" target="_blank"><strong th:text="${festival.title}"></strong></a>
            <span th:text="${festival.place}"></span>
            <span  th:text="${festival.date}"></span>
          </div>
        </li>
      </ul>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <!-- 이전 버튼 -->
      <a th:if="${festivalPage.prev}"
         th:href="@{/festival/list(page=${festivalPage.startPage - 1})}"
         class="prev-btn">&laquo;</a>
      <span th:unless="${festivalPage.prev}" class="disabled">&laquo;</span>

      <!-- 페이지 번호 버튼 -->
      <span th:each="i : ${#numbers.sequence(festivalPage.startPage, festivalPage.endPage)}"> <!--startPage~endPage 리스트생성-->
        <a th:href="@{/festival/list(page=${i},keyword=${keyword})}"
           th:text="${i}"
           th:classappend="${i == criteria.page ? 'bold' : ''}"></a>
      </span>


      <!-- 다음 버튼 --><!--endPage바꿈으로써 page가 바뀜(start,end다시 재생성) 따라서 다시 리스트 생성됨-->
      <a th:if="${festivalPage.next}"
         th:href="@{/festival/list(page=${festivalPage.endPage + 1})}"
         class="next-btn">&raquo;</a>
      <span th:unless="${festivalPage.next}" class="disabled">&raquo;</span>
    </div>




  </main>

  <div id="footer" th:replace="~{/main/footer}"></div>

</body>
</html>