main{
    margin: 176px 300px;
    
}

.title-container {
    margin: auto;
    text-align: center;
    width: 314px;
}

.title{
    border: none;
    background-color: none;
    outline: none;
    font-size: 40px;
    margin: auto;
    appearance: none;
}

.title:focus {
    background-color: transparent; /* 포커스 시 배경색 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
}


.container-display{
    margin: 50px 0 150px 0;
    display: flex;
}
.profile-container{
    width: 324px;
    height: 380px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    margin-right: 32px;
}

.profile{
    margin: auto;
    width: 287px;
    height: 145px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #CCCCCC;
}

.user-name-container{
    padding: 60px 25px 0 50px;
    height: 103px;
    width: 80px;
}


.Profile_image{
    margin: 15px 0 0 0;
    width: 103px;
    height: 103px;
}

.user-name{
    font-size: 26px;
    margin: auto;
}

.explain-container{
    width: 324px;
    text-align: center;
    
}

.explain{
    width: 100%;
    height: 218px;
    border: none;
    background-color: none;
    outline: none;
    text-align: center;
}

.explain:focus {
    background-color: transparent; /* 포커스 시 배경색 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
}

.tag-container{
    width: 100%;
    height: 380px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.tag-container-schedule{
    display: flex;
    
}

img{
    margin-top: 2.7%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
    width: 5.5%;
    height: 4.8%;
}

.schedule-container, .tag-select-container, .thema-container, .area-container {
    margin: 10px;
}

.schedule, .schedule-tag, .schedule-thema, .schedule-area {
    font-size: 15px;
    color: #A1A1A1;
    margin: 12px 0 5px;
}

.area-container-schedule{
    display: flex;
}

.schedule{
    display: flex;
    flex-direction: column;
}

#schedule-input {
    margin-top: 8px;
}

.select-option, .tag-select, .thema-select {
    width: 70%;
    padding: 3.5%;
    margin-right: 90px;
    color: black;
    padding-right: 30px; /* 오른쪽 여유 공간을 화살표를 위해 확보 */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* 기본 드롭다운 화살표 숨기기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* 배경색 지정 */
    position: relative;
}

#schedule-input{
    width: 73%;
    padding: 3.5%;
    margin-right: 90px;
    color: black;
    padding-right: 30px; /* 오른쪽 여유 공간을 화살표를 위해 확보 */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* 기본 드롭다운 화살표 숨기기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* 배경색 지정 */
    position: relative;
}

.area{
    width: 76%;
    padding: 5.9%;
    color: black;
    border-radius: 4px;
    border: none;
    outline: 1px solid #ccc;
}

.area:focus {
    background-color: transparent; /* 포커스 시 배경색 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
}

/* 오른쪽에 화살표 추가 */
.tag-select::after {
    content: '\25BC'; /* 유니코드 아래 화살표 */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 화살표가 클릭되지 않도록 설정 */
    font-size: 16px;
    color: #888;
}

/* select 요소가 wrapper 안에 있어야 position relative 작동 */
.select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px; /* select의 너비에 맞춤 */
}

/* 데이, 장소 태그 */
.day-tabs {
    margin-top: 20px;
    font-size: 18px;
}

#place-tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #FEF2F2;
    border-bottom: solid 1px #A1A1A1;
}

.days,
.add-day,
.places,
.add-place {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.days {
    font-size: 18px;
    color: #ffffff;
    background-color: #a1a1a1;
    /* margin-right: 5px; */
}

.places {
    font-size: 15px;
    color: #A1A1A1;
    background-color: #FEF2F2;
}

.days.active,
.places.active {
    border: none;
    background-color: #FEF2F2;
    color: black;
}

.add-day {
    color: #a1a1a1;
    font-size: 25px;
    background-color: white;
    padding: 0 10px;
}

.add-place {
    color: #A1A1A1;
    background-color: #FEF2F2;
    padding: 10px;
    border: none;
    font-size: 25px;
}

/* 내용 부분 */
.content-container {
    background-color: #FEF2F2;
}

.place-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: navy;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.place-title:hover {
    cursor: pointer;
}

.location-descr {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Summernote 전체 영역 */
.note-editor {
    width: 86%;
    margin: 30px 10px;
}

/* Summernote 내부 텍스트 입력 영역 */
.note-editable {
    background-color: white;
    height: 300px; /* 에디터 높이 */
    resize: none;  /* 크기 조정 비활성화 */
}

.location-imgs {
    display: flex;
    justify-content: space-evenly;
}

.upload-container {
    background-color: #D9D9D9;
    padding: 5%;
    border-radius: 5%;
    margin: 0px 10px 30px 10px;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gallery {
    width: 50px;
    height: 50px;
}

.txt-addimg {
    font-size: 15px;
    padding-top: 15px;
}

.map-container,
.rec-container {
    background-color: #FEF2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.map-title,
.related-area {
    font-size: 20px;
}

#map {
    display: flex;
    width: 90%;
    background-color: #A1A1A1;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.rec-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: white;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.rel-locations {
    padding-top: 10px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

#rel-loc1,
#rel-loc2,
#rel-loc3 {
    border: 1px solid #D9D9D9;
    padding: 3px;
    text-align: center;
    border-radius: 2px;
}


.add-location-text{
    width: 15%;
    height: 40px;
    text-align: center;
    margin: 30px 10px 30px 20px;
    background-color: white;
    border: none;
    outline: 1px solid #ccc;
}

.add-location-button,
.close-button {
    position: relative;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.add-location-button{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
}

.close-button {
    font-size: 20px;
    margin-left: -25px;
    margin-right: 10px;
    color: black;
}

.close-button {
    position: relative; /* 상대 위치 지정 */
    top: -10px; /* 위로 10px 이동 */
    margin-left: -25px; /* 텍스트 박스와의 간격 조정 */
}

.summernote-container{
    margin: auto;
    width: 90%;
    height: 500px;
    background-color: #888;
}

.create-button-container{
    width: 98%;
    height: 30px;
    margin: 0 30px 30px;
    display: flex;
    justify-content: flex-end;
}

.delete-button, .load-button, .upload-button{
    cursor: pointer;
    height: 35px;
    margin: 15px 10px 30px;
    width: 70px;
    justify-content: flex-start;
    background-color: #845AC6;
    color: white;
    font-weight: bold;
    border: none;
}

