<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.login.LoginMapper">
    <select id="isMemberExist" parameterType="LoginDTO" resultType="LoginSessionDTO">
        SELECT MEMBER_NUM, MEMBER_ID, MEMBER_PASSWORD FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND MEMBER_PASSWORD = #{memberPassword}
    </select>
    <select id="findEmail" parameterType="String" resultType="String">
        SELECT MEMBER_ID FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>
    <update id="resetPassword" parameterType="LoginDTO">
        UPDATE MEMBER
        SET MEMBER_PASSWORD = #{memberPassword}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <select id="checkSanction" parameterType="LoginSessionDTO" resultType="String">
        SELECT TO_CHAR(SANCTION_END_DATE, 'YYYYMMDDHH24MI') FROM SANCTION
        WHERE MEMBER_NUM = #{memberNum}
        AND SANCTION_END_DATE > SYSDATE
    </select>
</mapper>