<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <div class="nav_wrap">
      <a th:href="@{/main/main}"><img src="../../img/main/logo2.png" alt="로고"></a>
      <ul class="nav_menu">
        <li><a th:href="@{/journal/list}">여행 발자국</a></li>
        <li><a th:href="@{/place/list}">장소</a></li>
        <li><a th:href="@{/planner/list}">여행짜기</a></li>
        <li><a th:href="@{/template/list}">템플릿</a></li>
        <li><a th:href="@{/festival/list}">행사</a></li>
      </ul>
      <div class="header_icon" >
        <a th:unless="${session.memberNum == null}" th:href="@{/mypage/myPage}"><img src="../../img/main/mypage.png" alt="마이페이지"></a>
        <a th:if="${session.memberNum == null}" th:href="@{/login/login}"><img src="../../img/main/login.png" alt="로그인"></a>
        <a th:unless="${session.memberNum == null}" th:href="@{/login/logout}"><img src="../../img/main/logout.png" alt="로그아웃"></a>
      </div>
    </div>
  </header>
</body>

</html>
