<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.template.TemplateMapper">
    <select id="searchTemplateByTag" parameterType="String" resultType="TemplateDTO">
        SELECT * FROM TEMPLATE
        WHERE TEMP_TAG LIKE '%' || #{tempTag} || '%'
    </select>

    <select id="searchTemplateByTheme" parameterType="String" resultType="TemplateDTO">
        SELECT * FROM TEMPLATE
        WHERE TEMP_THEME LIKE '%' || #{tempTheme} || '%'
    </select>

    <select id="searchTemplateByTitle" parameterType="String" resultType="TemplateDTO">
        SELECT * FROM TEMPLATE
        WHERE TEMP_TITLE LIKE '%' || #{tempTitle} || '%'
    </select>

    <select id="searchTemplateByPeriod" parameterType="String" resultType="TemplateDTO">
        SELECT * FROM TEMPLATE
        WHERE TEMP_PERIOD LIKE '%' || #{tempPeriod} || '%'
    </select>





</mapper>