<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.admin.AdmLoginMapper">
    <select id="isAdmin" parameterType="AdmLoginDTO" resultType="AdmSessionDTO">
        SELECT MEMBER_NUM, MEMBER_ID FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND MEMBER_PASSWORD = #{memberPassword} AND MEMBER_NUM = 1
    </select>
    <select id="findPwd" parameterType="String" resultType="String">
        SELECT MEMBER_PASSWORD FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>