<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" th:href="@{/css/login/lostIdSelectCert.css}">
  <link rel="stylesheet" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script defer th:src="@{/js/login/lostPswdSelectCert.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
</head>

<body>
  <div id ="header">
  </div>
  <main>
    <div class="container">
      <div>
        <a class="back-a"><img class="back" th:src="@{/img/admin/backArrow.png}"></a>
      </div>
      <img class="logo" th:src="@{/img/main/logo.png}">
      <h2>비밀번호 찾기</h2>
      <div id="cert-select-container">
        <ul>
          <li class = "cert" id="email">
            <a th:href="@{lostPswdEmail}">
              <img th:src="@{/img/login/email.svg}" alt="">
              이메일 인증
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <div id = "footer">
  </div>
</body>
</html>