<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" th:href="@{/css/login/login.css}">
  <link rel="stylesheet" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script defer th:src="@{/js/login/lostIdEmailCert.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
</head>

<body>
  <div id ="header">
  </div>
  <main>
    <div class="container">
      <div>
        <img class="back" th:src="@{/img/admin/backArrow.png}">
      </div>
      <img class="logo" th:src="@{/img/main/logo.png}">
      <h2>이메일 인증</h2>
      <div id="input-container">
        <div class = "input-email">
          <input type="text" name="" placeholder="이메일을 입력하세요." required>
          <button type="button" class="send-email">이메일 인증</button>
        </div>
        <div class = "input-cert">
          <form action>
            <input type="text" name="" placeholder="인증번호를 입력하세요." required>
            <span id = "left-time"></span>
            <button type="button" id="send-cert">인증하기</button>
            <div id = "invalid-cert"></div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <div id = "footer">
  </div>
</body>
</html>