<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" th:href="@{/css/login/lostIdShow.css}">
  <link rel="stylesheet" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/footer.css}">
  <script defer th:src="@{/js/login/lostIdShow.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
</head>

<body>
  <div id ="header">
  </div>
  <main>
    <div class="container">
      <div>
        <a class="back-a" href="#"><img class="back" th:src="@{/img/admin/backArrow.png}"></a>
      </div>
      <img class="logo" th:src="@{/img/main/logo.png}">
      <h2>해당 이메일로 계정이 있습니다.</h2>
      <div id="email-container">
        <div class = "email">
          <span>gabin1426@gmail.com</span>
        </div>
      </div>
      <div id="button-container">
        <button type="button" class = "button" id="login" th:onclick="|window.location.href='/login/login'|">로그인으로 돌아가기</button>
        <form th:action = "@{/login/resetPswd}" method="get">
          <button type="button" class = "button" id="pswd">비밀번호찾기</button>
        </form>
      </div>
    </div>
  </main>
  <div id = "footer">
  </div>
</body>
</html>