<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>발자국이 무성한 곳</title>
    <link rel="stylesheet" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" th:href="@{/css/template/templateSearch.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/abd96c8f9a.js" crossorigin="anonymous"></script>
    <script src="../../js/template/templateSearch.js"></script>
</head>
<body>
    <div id="header" th:replace="~{/main/header}"></div>
    <main>
        <div class="page-name">발자국이 무성한 곳</div>
        <div class="search-box-container">
            <form class="search-box" th:action="@{/template/search}" method="get">
                <input class="search-text" type="text" name="keyword" placeholder="검색어를 입력하세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력하세요.'">
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="best-footprint-container">
            <div class="best-footprint">
                <div class="best-month">이달의 발자국</div>
                <img th:src="@{/img/template/template_footprint.png}" alt="">
            </div>
            <div class="best-footprint-contents-container">
                <div class="best-footprint-contents">
                    <a th:href="@{/template/detail/{id}(id=${1})}">
                        <img th:src="@{/img/journal/대부도.png}" alt="">
                    </a>
                    <div class="best-contents-title">
                        아이들과 대부도에
                    </div>
                </div>
                <div class="best-footprint-contents">
                    <a th:href="@{/template/detail/{id}(id=${2})}">
                        <img th:src="@{/img/journal/공원.png}" alt="">
                    </a>
                    <div class="best-contents-title">
                        주말 나들이, 이곳을 추천합니다
                    </div>
                </div>
                <div class="best-footprint-contents">
                    <a th:href="@{/template/detail/{id}(id=${3})}">
                        <img th:src="@{/img/journal/제부도.png}" alt="">
                    </a>
                    <div class="best-contents-title">
                        제부도 바다에 놀러갔어요
                    </div>
                </div>
                
            </div>
        </div>
        <div class="template-menu">
            <div class="content-total">총 <span id="total-posts">0</span>개</div>
                <a th:href="@{/template/list(sort='orderByview')}" class="content-reference" th:class="${sort == 'orderByDate' ? 'bold' : ''}">
                    조회순
                </a>
                <div class="wall">|</div>
                <a th:href="@{/template/list(sort='orderByLikes')}" class="content-pick" th:class="${sort == 'orderByLikes' ? 'bold' : ''}">
                    찜하기순
                </a>
        </div>

        <div class="container">
            <div class="posts" id="posts"></div>
            <div class="pagination" id="pagination"></div>
        </div>

    </main>
    <div id="footer" th:replace="~{/main/footer}"></div>
    <script th:inline="javascript" defer>
        /*<![CDATA[*/
        // 서버에서 전달된 templateList를 JavaScript 배열로 처리
        const templateList = /*[[${templateList}]]*/ [];
        console.log("templateList:", templateList);  // 서버에서 전달된 journalList 확인

        // journalList가 비어있지 않다면 displayPosts와 setupPagination 호출
        if (templateList.length > 0) {
            displayPosts();
            setupPagination();
        } else {
            console.log("No posts available.");
        }
        /*]]>*/
    </script>
    <script th:src="@{/js/template/templateSearch.js}"></script>
</body>
</html>