<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.journal.JournalMapper">

    <select id="getJournalWithDaysByNum" parameterType="long" resultType="JournalDetailDTO">
        SELECT
            -- JOURNAL 테이블 컬럼들
            j.JNL_NUM,
            j.JNL_TITLE,
            j.MEMBER_NUM,
            j.JNL_VIEWS,
            j.JNL_MEMO,
            j.JNL_CREATE_DATE,
            j.JNL_UPDATE_DATE,
            j.JNL_PERIOD,
            j.JNL_TAG,
            j.JNL_THEME,
            j.JNL_AREA,

            -- MEMBER 및 MEMBER_IMGS 테이블의 정보
            m.MEMBER_NICKNAME,
            mi.MEMBER_IMG_URL,
            mi.MEMBER_IMGS_ID,
            mi.MEMBER_IMGS_GUID,
            mi.FILE_NAME AS MEMBER_IMG_FILE_NAME,
            mi.UPLOADPATH AS MEMBER_IMG_UPLOADPATH,

            -- JOURNAL_DAY 테이블 컬럼들
            jd.JNL_NUM,
            jd.JNL_DAY,
            jd.JNL_PLACE_ORDER,
            jd.JNL_CONTENTS,

            -- JNL_IMGS 테이블 컬럼들
            ji.FILE_NAME AS JNL_IMG_FILE_NAME,
            ji.JNL_IMGS_GUID,
            ji.UPLOADPATH AS JNL_IMG_UPLOADPATH,
            ji.JNL_IMGS_ORDER

        FROM
            JOURNAL j
                JOIN MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
                LEFT JOIN MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
                LEFT JOIN JNL_DAY jd ON j.JNL_NUM = jd.JNL_NUM
                LEFT JOIN JNL_IMGS ji ON jd.JNL_NUM = ji.JNL_NUM AND jd.JNL_DAY = ji.JNL_DAY
        WHERE
            j.JNL_NUM = #{jnlNum}
    </select>

    <select id="getJournalDaysByJournalNum" parameterType="long" resultType="JnlDayDTO">
        SELECT
            jd.JNL_NUM,
            jd.JNL_DAY,
            jd.JNL_PLACE_ORDER,
            jd.JNL_CONTENTS,
        FROM
            JOURNAL_DAY jd
        WHERE
            jd.JNL_NUM = #{journalNum}
        ORDER BY jd.JNL_DAY
    </select>

    <select id="searchJournalByKeyword" resultType="JournalDTO">
        SELECT
            -- JOURNAL 테이블 컬럼들
            j.JNL_NUM,
            j.JNL_TITLE,
            j.MEMBER_NUM,
            j.JNL_VIEWS,
            j.JNL_MEMO,
            j.JNL_CREATE_DATE,
            j.JNL_UPDATE_DATE,
            j.JNL_PERIOD,
            j.JNL_TAG,
            j.JNL_THEME,
            j.JNL_AREA,

            -- MEMBER 테이블의 정보
            m.MEMBER_NICKNAME,

            -- MEMBER_IMGS 테이블의 정보
            mi.MEMBER_IMG_URL,
            mi.MEMBER_IMGS_ID,
            mi.MEMBER_IMGS_GUID,
            mi.FILE_NAME AS MEMBER_IMG_FILE_NAME,
            mi.UPLOADPATH AS MEMBER_IMG_UPLOADPATH,

            -- JOURNAL_DAY 테이블 컬럼들
            jd.JNL_DAY,
            jd.JNL_PLACE_ORDER,
            jd.JNL_CONTENTS,

            -- JNL_IMGS 테이블 컬럼들
            ji.FILE_NAME AS JNL_IMG_FILE_NAME,
            ji.JNL_IMGS_GUID,
            ji.UPLOADPATH AS JNL_IMG_UPLOADPATH,
            ji.JNL_IMGS_ORDER

        FROM
            JOURNAL j
                JOIN MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
                LEFT JOIN MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
                LEFT JOIN JNL_DAY jd ON j.JNL_NUM = jd.JNL_NUM
                LEFT JOIN JNL_IMGS ji ON jd.JNL_NUM = ji.JNL_NUM AND jd.JNL_DAY = ji.JNL_DAY
        WHERE
            j.JNL_TITLE LIKE '%' || #{keyword} || '%'
           OR j.JNL_AREA LIKE '%' || #{keyword} || '%'
           OR j.JNL_TAG LIKE '%' || #{keyword} || '%'
           OR j.JNL_THEME LIKE '%' || #{keyword} || '%'
           OR j.JNL_PERIOD LIKE '%' || #{keyword} || '%'
        ORDER BY j.JNL_CREATE_DATE DESC
    </select>

    <select id="searchJournalByArea" resultType="JournalDTO">
        SELECT
            -- JOURNAL 테이블 컬럼들
            j.JNL_NUM,
            j.JNL_TITLE,
            j.MEMBER_NUM,
            j.JNL_VIEWS,
            j.JNL_MEMO,
            j.JNL_CREATE_DATE,
            j.JNL_UPDATE_DATE,
            j.JNL_PERIOD,
            j.JNL_TAG,
            j.JNL_THEME,
            j.JNL_AREA,

            -- MEMBER 테이블의 정보
            m.MEMBER_NICKNAME,

            -- MEMBER_IMGS 테이블의 정보
            mi.MEMBER_IMG_URL,
            mi.MEMBER_IMGS_ID,
            mi.MEMBER_IMGS_GUID,
            mi.FILE_NAME AS MEMBER_IMG_FILE_NAME,
            mi.UPLOADPATH AS MEMBER_IMG_UPLOADPATH,

            -- JOURNAL_DAY 테이블 컬럼들
            jd.JNL_DAY,
            jd.JNL_PLACE_ORDER,
            jd.JNL_CONTENTS,

            -- JNL_IMGS 테이블 컬럼들
            ji.FILE_NAME AS JNL_IMG_FILE_NAME,
            ji.JNL_IMGS_GUID,
            ji.UPLOADPATH AS JNL_IMG_UPLOADPATH,
            ji.JNL_IMGS_ORDER

        FROM
            JOURNAL j
                JOIN MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
                LEFT JOIN MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
                LEFT JOIN JNL_DAY jd ON j.JNL_NUM = jd.JNL_NUM
                LEFT JOIN JNL_IMGS ji ON jd.JNL_NUM = ji.JNL_NUM AND jd.JNL_DAY = ji.JNL_DAY
        WHERE
            j.JNL_AREA LIKE '%' || #{area} || '%'
        ORDER BY j.JNL_CREATE_DATE DESC
    </select>

    <select id="countTotalJournals" resultType="int">
        SELECT count(*)
        FROM JOURNAL
    </select>




    <select id="getJournalsByDateDesc" resultType="JournalDTO">
        SELECT j.*, i.*
        FROM JOURNAL j
                 LEFT JOIN JNL_IMGS i ON j.JNL_NUM = i.JNL_NUM
        ORDER BY j.JNL_CREATE_DATE DESC
    </select>

    <select id="getJournalsDesc" resultType="JournalDTO">
        SELECT JNL_NUM, JNL_TITLE
        FROM JOURNAL
        ORDER BY JNL_VIEWS DESC
    </select>

    <select id="getJournalsByPickCountDesc" resultType="JournalDTO">
        SELECT j.*,
               (SELECT COUNT(*)
                FROM JOURNAL_PICK jp
                WHERE jp.JNL_NUM = j.JNL_NUM) AS pick_count
        FROM JOURNAL j
        ORDER BY pick_count DESC
    </select>

    <select id="getSelectedFootprints" resultType="JournalDTO">
        SELECT j.*, i.*
        FROM JOURNAL j
                 JOIN TEMPLATE t ON j.JNL_NUM = t.JNL_NUM
                 LEFT JOIN JNL_IMGS i ON j.JNL_NUM = i.JNL_NUM
        ORDER BY j.JNL_CREATE_DATE DESC
    </select>

    <select id="getJournalByPermission" parameterType="long" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE MEMBER_NUM = #{memberNum}
    </select>


    <select id="getJournalProfilesByJournalId" resultType="JournalProfileDTO">
        SELECT
            j.JNL_NUM,
            m.MEMBER_NICKNAME AS nickname,
            mi.MEMBER_IMG_URL AS memberImgUrl,
            mi.MEMBER_IMGS_ID AS memberImgsId,
            mi.MEMBER_IMGS_GUID AS memberImgsGuid,
            mi.FILE_NAME AS fileName,
            mi.UPLOADPATH AS uploadPath,
            mi.MEMBER_IMG_TYPE AS memberImgType,
            mi.DEFAULT_YN AS defaultYn
        FROM
            JOURNAL j
                JOIN
            MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
                JOIN
            MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
        WHERE
            j.JNL_NUM = #{jnlNum}
    </select>

    <select id="getJournalProfilesByMemberNum" resultType="JournalProfileDTO">
        SELECT
        j.JNL_NUM,
        m.MEMBER_NICKNAME AS nickname,
        mi.MEMBER_IMG_URL AS memberImgUrl,
        mi.MEMBER_IMGS_ID AS memberImgsId,
        mi.MEMBER_IMGS_GUID AS memberImgsGuid,
        mi.FILE_NAME AS fileName,
        mi.UPLOADPATH AS uploadPath,
        mi.MEMBER_IMG_TYPE AS memberImgType,
        mi.DEFAULT_YN AS defaultYn
        FROM
        JOURNAL j
        JOIN
        MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
        JOIN
        MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
        WHERE
        m.MEMBER_NUM = #{memberNum}  <!-- 세션에서 가져온 memberNum을 사용 -->
    </select>

    <!-- JOURNAL 테이블에 여행일지 기본 정보 삽입 -->
    <insert id="insertJournal" parameterType="JournalDTO">
        <selectKey keyProperty="jnlNum" resultType="Long" order="BEFORE">
            SELECT SEQ_JOURNAL.nextVal FROM DUAL
        </selectKey>
        INSERT INTO JOURNAL (
        JNL_NUM, JNL_TITLE, MEMBER_NUM, JNL_VIEWS, JNL_MEMO, JNL_CREATE_DATE, JNL_UPDATE_DATE,
        JNL_PERIOD, JNL_TAG, JNL_THEME, JNL_AREA
        ) VALUES (
        #{jnlNum}, #{jnlTitle}, #{memberNum}, 0, #{jnlMemo},
        SYSDATE, SYSDATE, #{jnlPeriod}, #{jnlTag}, #{jnlTheme}, #{jnlArea}
        )
    </insert>

    <!-- JnlDayDTO 리스트를 삽입하는 쿼리 -->
    <insert id="insertJournalDay" parameterType="java.util.List">
        <foreach collection="list" item="day">
            INSERT INTO JOURNAL_DAY (JNL_NUM, JNL_DAY, JNL_PLACE_ORDER, JNL_CONTENTS, PLACE_ID)
            VALUES (#{day.jnlNum}, #{day.jnlDay}, #{day.jnlPlaceOrder}, #{day.jnlContents}, #{day.placeId})
        </foreach>
    </insert>

    <update id="updateJournal" parameterType="JournalDTO">
        UPDATE JOURNAL
        SET JNL_TITLE = #{title}, CONTENT=#{content}, JNL_UPDATE_DATE=SYSDATE
        WHERE JNL_NUM = #{jnlNum}
    </update>

    <!-- JnlDayDTO 리스트를 업데이트하기 위한 쿼리 -->
    <update id="updateJournalDays" parameterType="JournalDTO">
        <foreach collection="jnlDayList" item="day" separator=";">
            UPDATE JOURNAL_DAY
            SET JNL_CONTENTS = #{day.jnlContents}, JNL_PLACE_ORDER = #{day.jnlPlaceOrder}
            WHERE JNL_NUM = #{day.jnlNum} AND JNL_DAY = #{day.jnlDay}
        </foreach>
    </update>

    <delete id="deleteJournal" parameterType="Long">
        DELETE FROM JOURNAL
        WHERE JNL_NUM = #{jnlNum}
    </delete>

    <update id="plusViews">
        UPDATE JOURNAL
        SET
            JNL_VIEWS = JNL_VIEWS + 1
        WHERE JNL_NUM = #{jnlNum}
    </update>


</mapper>