<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.journal.JournalMapper">
    <select id="searchJournalByTag" parameterType="String" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_TAG LIKE '%' || #{tag} || '%'
    </select>

    <select id="searchJournalByTheme" parameterType="String" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_TAG LIKE '%' || #{theme} || '%'
    </select>

    <select id="searchJournalByTitle" parameterType="String" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_TAG LIKE '%' || #{title} || '%'
    </select>

    <select id="searchJournalByArea" parameterType="String" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_TAG LIKE '%' || #{area} || '%'
    </select>

    <select id="searchJournalByPeriod" parameterType="String" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_TAG LIKE '%' || #{period} || '%'
    </select>
    
    <select id="countTotalJournals" resultType="int">
        SELECT count(*)
        FROM JOURNAL
    </select>

    <select id="getJournalsByDateDesc" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        ORDER BY JNL_CREATE_DATE DESC
    </select>

    <select id="getJournalsByPickCountDesc" resultType="JournalDTO">
        SELECT j.*,
               (SELECT COUNT(*)
                FROM JOURNAL_PICK jp
                WHERE jp.JNL_NUM = j.JNL_NUM) AS pick_count
        FROM JOURNAL j
        ORDER BY pick_count DESC
    </select>

    <select id="getSelectedFootprints" resultType="JournalDTO">
        SELECT j.*
        FROM JOURNAL j
                 JOIN TEMPLATE t ON j.JNL_NUM = t.JNL_NUM
    </select>

    <select id="getJournalById" resultType="JournalDTO">
        SELECT *
        FROM JOURNAL
        WHERE JNL_NUM = #{jnlNum}
    </select>

    <resultMap id="memberResultMap" type="com.smbt.pickod.dto.journal.JnlMemberDTO">
        <id property="memberNum" column="memberNum" />
        <result property="memberId" column="memberId" />
        <result property="nickName" column="nickName" />
        <collection property="memberImgsList" ofType="com.smbt.pickod.dto.journal.JnlMemberImgsDTO">
            <result property="memberImgsGuid" column="memberImgsGuid" />
            <result property="fileName" column="fileName" />
            <result property="uploadPath" column="uploadPath" />
            <result property="memberImgUrl" column="memberImgUrl" />
            <result property="defaultYn" column="defaultYn" />
        </collection>
    </resultMap>

    <select id="getJournalProfilesByJournalId" resultType="JournalProfileDTO">
        SELECT
            j.JNL_NUM,
            m.MEMBER_NICKNAME AS nickname,
            mi.MEMBER_IMG_URL AS memberImgUrl,
            mi.MEMBER_IMGS_ID AS memberImgsId,
            mi.MEMBER_IMGS_GUID AS memberImgsGuid,
            mi.FILE_NAME AS fileName,
            mi.UPLOADPATH AS uploadPath,
            mi.MEMBER_IMG_TYPE AS memberImgType,
            mi.DEFAULT_YN AS defaultYn,
        FROM
            JOURNAL j
                JOIN
            MEMBER m ON j.MEMBER_NUM = m.MEMBER_NUM
                JOIN
            MEMBER_IMGS mi ON m.MEMBER_IMGS_ID = mi.MEMBER_IMGS_ID
        WHERE
            j.JNL_NUM = #{jnlNum}
    </select>

    <!-- JOURNAL 테이블에 여행일지 기본 정보 삽입 -->
    <insert id="insertJournal" parameterType="JournalDTO">
        <selectKey keyProperty="jnlNum" resultType="Long" order="BEFORE">
            SELECT SEQ_JOURNAL.nextVal FROM DUAL
        </selectKey>
        INSERT INTO JOURNAL (
        JNL_NUM, JNL_TITLE, MEMBER_NUM, JNL_MEMO, JNL_CREATE_DATE, JNL_UPDATE_DATE,
         JNL_PERIOD, JNL_TAG, JNL_THEME, JNL_AREA
        ) VALUES (
        #{jnlNum}, #{jnlTitle}, #{memberNum}, #{jnlMemo},
        SYSDATE, SYSDATE, #{jnlPeriod}, #{jnlTag}, #{jnlTheme}, #{jnlArea}
        )
    </insert>

    <!-- JnlDayDTO 리스트를 삽입하는 쿼리 -->
    <insert id="insertJournalDays" parameterType="JnlDayDTO">
        <foreach collection="jnlDayList" item="day">
            INSERT INTO JOURNAL_DAY (JNL_NUM, JNL_DAY, JNL_PLACE_ORDER, JNL_CONTENTS, PLACE_ID)
            VALUES (#{day.jnlNum}, #{day.jnlDay}, #{day.jnlPlaceOrder}, #{day.jnlContents}, #{day.placeId})
        </foreach>
    </insert>

    <update id="updateJournal" parameterType="JournalDTO">
        UPDATE JOURNAL
        SET JNL_TITLE = #{title}, CONTENT=#{content}, JNL_UPDATE_DATE=SYSDATE
        WHERE JNL_NUM = #{jnlNum}
    </update>

    <!-- JnlDayDTO 리스트를 업데이트하기 위한 쿼리 -->
    <update id="updateJournalDays" parameterType="JournalDTO">
        <foreach collection="jnlDayList" item="day" separator=";">
            UPDATE JOURNAL_DAY
            SET JNL_CONTENTS = #{day.jnlContents}, JNL_PLACE_ORDER = #{day.jnlPlaceOrder}
            WHERE JNL_NUM = #{day.jnlNum} AND JNL_DAY = #{day.jnlDay}
        </foreach>
    </update>

    <delete id="deleteJournal" parameterType="Long">
        DELETE FROM JOURNAL
        WHERE JNL_NUM = #{jnlNum}
    </delete>





</mapper>