<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbt.pickod.mapper.journal.JournalSearchMapper">
    <select id="searchJournals" resultType="com.smbt.pickod.dto.journal.JournalSearchDTO">
        SELECT JNL_TITLE AS title, JNL_TAG AS tag, JNL_PERIOD AS period,
        JNL_THEME AS theme, JNL_AREA AS area
        FROM JOURNAL
        WHERE 1=1
        <if test="SearchDTO.tag != null and SearchDTO.tag != ''">
            AND JNL_TAG LIKE '%' || #{tag} || '%'
        </if>
        <if test="SearchDTO.period != null and SearchDTO.period != ''">
            AND JNL_PERIOD LIKE '%' || #{period} || '%'
        </if>
        <if test="SearchDTO.theme != null and SearchDTO.theme != ''">
            AND JNL_THEME LIKE '%' || #{theme} || '%'
        </if>
        <if test="SearchDTO.title != null and SearchDTO.title != ''">
            AND JNL_TITLE LIKE '%' || #{title} || '%'
        </if>
        <if test="SearchDTO.area != null and SearchDTO.area != ''">
            AND JNL_AREA LIKE '%' || #{area} || '%'
        </if>
    </select>
</mapper>